<!DOCTYPE html>
<html xmlns=http://www.w3.org/1999/xhtml
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Book Store</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script src="https://kit.fontawesome.com/279cd13ff5.js"
	crossorigin="anonymous"></script>

<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
	integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.7.0.min.js"
	integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
	crossorigin="anonymous"></script>

<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/responsive.css">
</head>
<body>
	<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-info">
		<a class="navbar-brand text-white logo"
			th:href="${session.admin}?'/admin/books':'/admin/home'">
			<h2 style="font-family: 'Playfair Display', serif;">BookStore</h2>
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto" th:if="${session.admin}">
				<li class="nav-item"><a class="nav-link text-white"
					th:href="@{/admin/books}"
					style="font-size: 20px; font-weight: bold; font-family: 'Playfair Display', serif;">Home</a>
				</li>
				<li class="nav-item"><a class="nav-link text-white"
					th:href="@{/admin/order}"
					style="font-size: 20px; font-weight: bold; font-family: 'Playfair Display', serif;">Order</a>
				</li>
			</ul>

			<ul class="navbar-nav ml-auto">
				<li class="nav-item" th:unless="${session.admin}"><a
					class="nav-link text-white" th:href="@{/admin/login}"
					style="font-size: 20px; font-weight: bold; font-family: 'Playfair Display', serif;">Login</a>
				</li>
				<li class="nav-item dropdown" th:if="${session.admin}">
					<a class="nav-link dropdown-toggle text-white" href="#"
						id="navbarDropdown" role="button" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false"
						th:text="${session.admin.getRealName}"></a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item"
							style="font-family: 'Playfair Display', serif;"
							th:href="@{/admin/profile/{adminId}(adminId=${session.admin.getId})}">Profile</a> 
						<a class="dropdown-item"
							style="font-family: 'Playfair Display', serif;"
							th:href="@{/admin/change-password/{adminId}(adminId=${session.admin.getId})}">Change password</a> 
						<a class="dropdown-item"
							style="font-family: 'Playfair Display', serif;"
							th:href="@{/admin/logout}">Logout</a>
					</div>
				</li>
			</ul>
		</div>
	</nav>
	<div style="margin-top: 3%; margin-bottom: 3%" class="container">
		<div class="text-center" style="margin-bottom: 2%">
			<h1 style="font-family: 'Playfair Display', serif;">Order Detail</h1>
		</div>
		<section class="cart_table_area p_100">
			<div class="table-responsive-xl">
				<table class="table table-striped table-bordered">
					<thead class="table-dark">
						<tr>
							<th scope="col" class="text-center"
								style="width: 5%; font-family: 'Playfair Display', serif;">OrderID</th>
							<th scope="col" class="text-center"
								style="width: 15%; font-family: 'Playfair Display', serif;">Image</th>
							<th scope="col" class="text-center"
								style="width: 20%; font-family: 'Playfair Display', serif;">Title</th>
							<th scope="col" class="text-center"
								style="width: 10%; font-family: 'Playfair Display', serif;">Quantity</th>
							<th scope="col" class="text-center"
								style="width: 15%; font-family: 'Playfair Display', serif;">Price</th>
							<th scope="col" class="text-center"
								style="width: 15%; font-family: 'Playfair Display', serif;">Total</th>
							<th scope="col" class="text-center"
								style="width: 20%; font-family: 'Playfair Display', serif;">Action</th>
						</tr>
					</thead>

					<tbody>
						<tr th:each="book : ${cart.getBooks}">
							<td th:text="${cart.getOrder.getId}" class="text-center"></td>
							<td class="text-center"><img
								th:src="@{${book.key.getBookCoverPath}}"
								style="width: 100px; height: 100px" /></td>
							<td th:text="${book.key.getTitle}" class="text-center"></td>
							<td th:text="${book.value}" class="text-center"></td>
							<td
								th:text="${#numbers.formatDecimal(book.key.getPrice,3,'POINT',0,'COMMA')}"
								class="text-center"></td>
							<td
								th:text="${#numbers.formatDecimal(book.key.getPrice*book.value,3,'POINT',0,'COMMA')}"
								class="text-center"></td>
							<td class="text-center"><a class="btn btn-success"
								th:href="@{/admin/book/{bookId}(bookId=${book.key.getId})}">Book
									Detail</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
	</div>
</body>
</html>
