<!DOCTYPE html>
<html>

<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<title>Book Store</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<style>
@import
	url("https://fonts.googleapis.com/css?family=Lora:400,400i,700|Montserrat:300,400,500,600,700|Open+Sans:300,400,400i,600,600i,700|Playfair+Display:400,400i,700,900|Lato")
	;

@import
	url("//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css")
	;
</style>
<body>
	<nav class="navbar  navbar-expand-lg  sticky-top navbar-light  bg-info">
		<a class="navbar-brand text-white logo" href="/user/home"
			style="font-family: 'Playfair Display', serif;">
			<h2>BookStore</h2>
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link text-white"
					th:href="@{/user/books}"
					style="font-size: 20px; font-weight: bold; font-family: 'Playfair Display', serif;">Our
						Books</a></li>
			</ul>
			<ul class="navbar-nav ml-auto">
				<li class="nav-item login"><a class="nav-link text-white"
					href="/user/login"
					style="font-size: 20px; font-weight: bold; font-family: 'Playfair Display', serif;">Login</a></li>
			</ul>
		</div>
	</nav>
	<div class="container">
		<div class="card w-60 mx-auto my-5">
			<div class="card-header text-center bg-info"
				style="font-size: 20px; font-weight: bold; font-family: 'Playfair Display', serif;">Register</div>
			<div class="card-body">
				<form action="/user/register" method="POST" name="registerForm"
					onsubmit="event.preventDefault();">
					<div class="form-row">
						<div class="form-group col-lg-6">
							<label>Full name<span style="color: red;"> * </span>
							</label> <input type="text" class="form-control" name="fullName"
								placeholder="Full name" th:value="${fullName}?${fullName}:''" required>
						</div>
						<div class="form-group col-lg-6">
							<label>Date of birth<span style="color: red;"> * </span> </label> <input type="date"
								class="form-control" name="dob" placeholder="Date of birth" th:value="${dob}?${dob}:''" required>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-lg-6">
							<label>Email<span style="color: red;"> * </span>
							</label> <input type="email" class="form-control" name="email"
								placeholder="Email" th:value="${email}?${email}:''" pattern="^[a-zA-z][a-zA-z0-9_\.]{5,64}@[a-z0-9]{2,254}(\.[a-z0-9]{2,4}){1,2}$" required>
						</div>
						<div class="form-group col-lg-6">
							<label>Phone<span style="color: red;"> * </span>
							</label> <input type="tel" class="form-control" name="phone"
								placeholder="Phone" th:value="${phone}?${phone}:''" pattern="/(84|0[3|5|7|8|9])+([0-9]{8})\b/g" required>
						</div>
					</div>
					<div class="form-group">
						<label>User name<span style="color: red;"> * </span>
						</label> <input type="text" class="form-control" name="userName"
							placeholder="Username" th:value="${userName}?${userName}:''" required>
					</div>
					<div class="form-group">
						<label>Password<span style="color: red;"> * </span>
						</label> <input type="password" class="form-control" name="password"
							placeholder="Password" required>
					</div>
					<div class="form-group">
						<label>Confirm password<span style="color: red;"> *
						</span>
						</label> <input type="password" class="form-control"
							name="confirmPassword" placeholder="Password" required>
					</div>
					<div th:if="${error}" style="margin-bottom: 18px;">
						<span style="color: red;" th:text="${error}"></span>
					</div>
					<div class="text-center">
						<button type="submit" class="btn btn-primary register-btn"
							data-toggle="modal" data-dismiss="modal"
							style="font-family: 'Playfair Display', serif;">Register</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="modal fade" id="registerModal" tabindex="-1" role="dialog"
		aria-labelledby="registerModal" aria-hidden="tre">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title"
						style="font-family: 'Playfair Display', serif;">Register</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>	
				<div class="modal-body">
					<p style="font-size: 20px; font-family: 'Playfair Display', serif;">Are you sure
						to register to the shop?</p>
				</div>
				<div class="modal-footer">
					<button id="confirm-btn" type="button" class="btn btn-success"
						style="font-family: 'Playfair Display', serif;">Confirm</button>
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal"
						style="font-family: 'Playfair Display', serif;">Cancel</button>
				</div>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.5.1.js"
		integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
		crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>

	<script>
		var registerForm = document.forms['registerForm'];
	    var registerBtn = document.querySelector(".register-btn");
	    var confirmBtn = document.getElementById('registerModal').querySelector("#confirm-btn");
	    var requiredInput = registerForm.querySelectorAll("[required]");
	    var check;
	
	    setInterval(function () {
	        check = true;
	        for (let i = 0; i < requiredInput.length; i++) {
	            if (requiredInput[i].value === "") {
	                check = false;
	                break;
	            }
	        }
	        if (check) {
	        	registerBtn.setAttribute("data-target", "#registerModal");
	        }else{
	        	registerBtn.removeAttribute("data-target", "#registerModal");
	        }
	    }, 500)
	
	    confirmBtn.onclick = function () {
	    	registerForm.submit();
	    }
	</script>
</body>

</html>