<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>eLibrary</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>admin.html</welcome-file>
    <welcome-file>librarian.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>servlets.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogout</display-name>
    <servlet-name>AdminLogout</servlet-name>
    <servlet-class>servlets.AdminLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogout</servlet-name>
    <url-pattern>/AdminLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LibrarianLogin</display-name>
    <servlet-name>LibrarianLogin</servlet-name>
    <servlet-class>servlets.LibrarianLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LibrarianLogin</servlet-name>
    <url-pattern>/LibrarianLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LibrarianLogout</display-name>
    <servlet-name>LibrarianLogout</servlet-name>
    <servlet-class>servlets.LibrarianLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LibrarianLogout</servlet-name>
    <url-pattern>/LibrarianLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewLibrarian</display-name>
    <servlet-name>ViewLibrarian</servlet-name>
    <servlet-class>servlets.ViewLibrarian</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewLibrarian</servlet-name>
    <url-pattern>/ViewLibrarian</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchLibrarian</display-name>
    <servlet-name>SearchLibrarian</servlet-name>
    <servlet-class>servlets.SearchLibrarian</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchLibrarian</servlet-name>
    <url-pattern>/SearchLibrarian</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddLibrarian</display-name>
    <servlet-name>AddLibrarian</servlet-name>
    <servlet-class>servlets.AddLibrarian</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddLibrarian</servlet-name>
    <url-pattern>/AddLibrarian</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditLibrarian</display-name>
    <servlet-name>EditLibrarian</servlet-name>
    <servlet-class>servlets.EditLibrarian</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditLibrarian</servlet-name>
    <url-pattern>/EditLibrarian</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteLibrarian</display-name>
    <servlet-name>DeleteLibrarian</servlet-name>
    <servlet-class>servlets.DeleteLibrarian</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteLibrarian</servlet-name>
    <url-pattern>/DeleteLibrarian</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewReaderAndBook</display-name>
    <servlet-name>ViewReaderAndBook</servlet-name>
    <servlet-class>servlets.ViewReaderAndBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewReaderAndBook</servlet-name>
    <url-pattern>/ViewReaderAndBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddReader</display-name>
    <servlet-name>AddReader</servlet-name>
    <servlet-class>servlets.AddReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddReader</servlet-name>
    <url-pattern>/AddReader</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteReader</display-name>
    <servlet-name>DeleteReader</servlet-name>
    <servlet-class>servlets.DeleteReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteReader</servlet-name>
    <url-pattern>/DeleteReader</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditReader</display-name>
    <servlet-name>EditReader</servlet-name>
    <servlet-class>servlets.EditReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditReader</servlet-name>
    <url-pattern>/EditReader</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchReader</display-name>
    <servlet-name>SearchReader</servlet-name>
    <servlet-class>servlets.SearchReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchReader</servlet-name>
    <url-pattern>/SearchReader</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BorrowBook</display-name>
    <servlet-name>BorrowBook</servlet-name>
    <servlet-class>servlets.BorrowBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BorrowBook</servlet-name>
    <url-pattern>/BorrowBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReturnBook</display-name>
    <servlet-name>ReturnBook</servlet-name>
    <servlet-class>servlets.ReturnBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReturnBook</servlet-name>
    <url-pattern>/ReturnBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBook</display-name>
    <servlet-name>AddBook</servlet-name>
    <servlet-class>servlets.AddBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBook</servlet-name>
    <url-pattern>/AddBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchBook</display-name>
    <servlet-name>SearchBook</servlet-name>
    <servlet-class>servlets.SearchBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchBook</servlet-name>
    <url-pattern>/SearchBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditBook</display-name>
    <servlet-name>EditBook</servlet-name>
    <servlet-class>servlets.EditBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditBook</servlet-name>
    <url-pattern>/EditBook</url-pattern>
  </servlet-mapping>
</web-app>